h1 {
    margin-bottom: 30px;
}

.list-group-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
}

.list-group-item:hover {
    background-color: rgba(0,0,0,.03);
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,.125);
}

p {
    flex: 1;
    margin: 0;
}